{% extends "layout.html.twig" %}

{% block title '' %}

{% block content %}

    <div id="dashBoardUserProfile">

        <div id="dashBoardProfilePicture">
            <div class="pictureBox">
                {% if user.gender ==0 %}
                    <img src="https://s3.envato.com/files/133963251/pv_590.jpg" alt="male profile picture">
                {% else %}
                    <img src="https://image.freepik.com/free-vector/beautiful-woman-in-pop-art-style_23-2147524176.jpg" alt="female profile picture">
                {% endif %}
            </div>
            <div id="dashBoardProfileRank">
                <div class="stars">
                    <div class="rank"></div>
                    <div class="score">{{ (averageRating)|number_format(1, '.', ',') }}</div>
                </div>
            </div>
        </div>
        <div id="dashBoardProfileInformation">
            <div id="dashboardGender">
                {% if user.gender ==0 %}
                    <i class="fas fa-mars" style="color:dodgerblue"></i>
                {% elseif user.gender ==1 %}
                    <i class="fas fa-venus" style="color:hotpink"></i>
                {% elseif user.gender ==2 %}
                    <i class="fas fa-transgender" style="color:lawngreen"></i>
                {% else %}
                    <i class="fas fa-genderless" style="color:orangered"></i>
                {% endif %}
            </div>
            <div id="dashboardUsername">{{ user.username }}<br/></div>
            <div id="dashboardFirstname">{{ user.firstname }}</div>
            <div id="dashboardLastname">{{ user.lastname }}</div>
            <div id="dashboardDescription">"{{ user.description }}"</div>
            <div id="dashboardEmail"><i class="fas fa-envelope"></i> {{ user.email }}</div>
            <div id="dashboardInsertedDate"><span>Member since </span>{{ user.insertedAt|date("m/d/Y") }}</div>
            <div id="dashboardUpdatedDate"><span>Updated at </span>{{ user.updatedAt|date('m/d/Y H:i:s') }}</div>
        </div>
    </div>
    <div style="text-align: center">
        <a href="{{ path('addItem') }}"><button>add item</button></a>
    </div>


<div id="dashBoardTabSection">
        <div id="dashBoardMenu">
            <button class="tablink tablinkActive" onclick="openLink(event, 'dashBoardMenuTab1')">Owned Items</button>
            <button class="tablink" onclick="openLink(event, 'dashBoardMenuTab2')">Requests</button>
            <button class="tablink" onclick="openLink(event, 'dashBoardMenuTab3')">Loans</button>
            <button class="tablink" onclick="openLink(event, 'dashBoardMenuTab4')">Finished</button>
        </div>

        <div id="dashBoardMenuTab1" class="dashBoardMenuTab">
            <div>
                <h2>Owned Items</h2>
                {% for item in items %}
                    <div class="cardBox">
                        <div class="insideCardBox1">
                            <div class="pictureBox">
                                <img src="https://i.pinimg.com/736x/ec/67/01/ec67011b56dfc9cdb8fba6f1190f2c97--retro-videos-retro-video-games.jpg" alt="card item picture">
                            </div>
                        </div>
                        <div class="insideCardBox2">
                            {#<div>{{ item.id }}</div>#}
                            <h4>{{ item.name }}</h4>
                            <div>{{ item.owner.firstname }} {{ item.owner.lastname }}</div>
                            {#<div>{{ item.owner.id }}</div>#}
                            <div>{{ item.description }}</div>
                            <div class="bottomPictureCardBox"><span>Posted on </span>{{ item.insertedAt|date("m/d/Y") }}</div>
                            <div class="buttonBox">
                                <button>More</button>
                                <button>Update</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="dashBoardMenuTab2" class="dashBoardMenuTab" style="display:none">
            <div>
                <h2>Requests in</h2>
                {% for loan in requestsIn %}
                    <div class="cardBox">
                        <div class="insideCardBox1">
                            <div class="pictureBox">
                                <img src="https://i.pinimg.com/736x/ec/67/01/ec67011b56dfc9cdb8fba6f1190f2c97--retro-videos-retro-video-games.jpg" alt="card item picture">
                            </div>
                        </div>
                        <div class="insideCardBox2">
                            <h4><a href="" id="userLinkCardBox">{{ loan.firstnameBorrower }} </a><span>requested: </span>{{ loan.name }}</h4>
                            <div>{{ loan.idLoan }}</div>
                            <div>{{ loan.status }}</div>
                            <div>{{ loan.requestMessage }}</div>
                            <div class="bottomPictureCardBox"><span>Posted on </span>{{ loan.requestedAt|date('m-d-Y H:i:s') }}</div>
                            <div class="buttonBox">
                                <button>More</button>
                                <button>Accept</button>
                                <button>Decline</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <h2>Requests out</h2>
                {% for loan in requestsOut %}
                    <div class="cardBox">
                        <div class="insideCardBox1">
                            <div class="pictureBox">
                                <img src="https://i.pinimg.com/736x/ec/67/01/ec67011b56dfc9cdb8fba6f1190f2c97--retro-videos-retro-video-games.jpg" alt="card item picture">
                            </div>
                        </div>
                        <div class="insideCardBox2">
                            <h4>{{ loan.name }}</h4>
                            <div>{{ loan.idLoan }}</div>
                            <div>{{ loan.status }}</div>
                            <div>{{ loan.requestMessage }}</div>
                            <div class="bottomPictureCardBox"><span>Posted on</span>{{ loan.requestedAt|date('m-d-Y H:i:s') }} <span>by </span><a id="userLinkCardBox" href="">{{ loan.firstnameOwner }}</a></div>
                            <div class="buttonBox">
                                <button>More</button>
                                <button>Cancel</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#{{ dump(requestsOut) }}#}
            </div>
        </div>

        <div id="dashBoardMenuTab3" class="dashBoardMenuTab" style="display:none">
            <div>
                <h2>Loans In</h2>
                {% for loan in loansIn %}
                    <div class="cardBox">
                        <div class="insideCardBox1">
                            <div class="pictureBox">
                                <img src="https://i.pinimg.com/736x/ec/67/01/ec67011b56dfc9cdb8fba6f1190f2c97--retro-videos-retro-video-games.jpg" alt="card item picture">
                            </div>
                        </div>
                        <div class="insideCardBox2">
                            <h4>{{ loan.name }}</h4>
                            <div>{{ loan.idLoan }}</div>
                            <div>{{ loan.status }}</div>
                            <div>{{ loan.requestMessage }}</div>
                            <div class="bottomPictureCardBox"><span>Since </span>{{ loan.requestedAt|date('m-d-Y H:i:s') }}</div>
                            <div>{{ loan.firstnameBorrower }}</div>
                            <div class="buttonBox">
                                <button>More</button>
                                <button>Comment & Rate</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#{{ dump(loansIn) }}#}
            </div>
            <div>
                <h2>Loans out</h2>
                {% for loan in loansOut %}
                    <div class="cardBox">
                        <div class="insideCardBox1">
                            <div class="pictureBox">
                                <img src="https://i.pinimg.com/736x/ec/67/01/ec67011b56dfc9cdb8fba6f1190f2c97--retro-videos-retro-video-games.jpg" alt="card item picture">
                            </div>
                        </div>
                        <div class="insideCardBox2">
                            <h4>{{ loan.name }}</h4>
                            <div>{{ loan.idLoan }}</div>
                            <div>{{ loan.status }}</div>
                            <div>{{ loan.requestMessage }}</div>
                            <div class="bottomPictureCardBox"><span>Since </span>{{ loan.requestedAt|date('m-d-Y H:i:s') }}</div>
                            <div>{{ loan.firstnameOwner }}</div>
                            <div class="buttonBox">
                                <button>More</button>
                                <button>Comment & Rate</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#{{ dump(loansOut) }}#}
            </div>
        </div>

        <div id="dashBoardMenuTab4" class="dashBoardMenuTab" style="display:none">
            <div>
                <h2>Finished Loans In</h2>
                {% for loan in closedLoansIn %}
                    <div class="cardBox">
                        <div class="insideCardBox1">
                            <div class="pictureBox">
                                <img src="https://i.pinimg.com/736x/ec/67/01/ec67011b56dfc9cdb8fba6f1190f2c97--retro-videos-retro-video-games.jpg" alt="card item picture">
                            </div>
                        </div>
                        <div class="insideCardBox2">
                            <h4>{{ loan.name }}</h4>
                            <div>{{ loan.idLoan }}</div>
                            <div>{{ loan.status }}</div>
                            <div>{{ loan.requestMessage }}</div>
                            <div class="bottomPictureCardBox"><span>Since </span>{{ loan.requestedAt|date('m-d-Y H:i:s') }}</div>
                            <div>{{ loan.firstnameBorrower }}</div>
                            <div class="buttonBox">
                                <button>More</button>
                                <button>Update</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#{{ dump(closedLoansIn) }}#}
            </div>
            <div>
                <h2>Finished Loans Out</h2>
                {% for loan in closedLoansOut %}
                    <div class="cardBox">
                        <div class="insideCardBox1">
                            <div class="pictureBox">
                                <img src="https://i.pinimg.com/736x/ec/67/01/ec67011b56dfc9cdb8fba6f1190f2c97--retro-videos-retro-video-games.jpg" alt="card item picture">
                            </div>
                        </div>
                        <div class="insideCardBox2">
                            <h4>{{ loan.name }}</h4>
                            <div>{{ loan.idLoan }}</div>
                            <div>{{ loan.status }}</div>
                            <div>{{ loan.requestMessage }}</div>
                            <div class="bottomPictureCardBox"><span>Since </span>{{ loan.requestedAt|date('m-d-Y H:i:s') }}</div>
                            <div>{{ loan.firstnameOwner }}</div>
                            <div class="buttonBox">
                                <button>More</button>
                                <button>Update</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {#{{ dump(closedLoansOut) }}#}
            </div>
        </div>
</div>

    <script>
        function openLink(evt, menuTab) {
            var i, x, tablinks;
            x = document.getElementsByClassName("dashBoardMenuTab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" tablinkActive", "");
            }
            document.getElementById(menuTab).style.display = "block";
            evt.currentTarget.className += " tablinkActive";
        }



        (function() {
            // your page initialization code here
            // the DOM will be available here
            var x = $(".score").html()*20;
            $(".rank").css('width', x+'%');

        })();
    </script>




{% endblock %}