{% extends "layout.html.twig" %}

{% block title %}Forgot your password?{% endblock %}

    {% block content %}

        {{ form_start(form) }}  {# display open tag of the form #}
        Enter your email address below and we'll send you password reset instructions.
        <fieldset>
            <legend>Forgot your password?</legend>
            {#  form(form)   pour afficher le forme #}
            <div class="row">
                <div class="xs-col-12">       {# 3 methods esixte dans symphony #}
                    Your email address :
                    {{ form_errors(form.email) }} {# display form email error list #}
                </div>
                <div class="xs-col-3">
                    {{ form_label(form.email) }} {# display form email label #}
                </div>
                <div class="xs-col-9">
                    {{ form_widget(form.email) }} {# display form email label #}
                </div>
            </div>
        </fieldset>
     {#   {{ form_row(form.submit) }}  #}{# display form submit button #}

        {{ form_rest(form) }}    {# pour afficher ce que n'a pas écrit #}
        <div class="col-sm-8 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Send me reset instructions</button>
            <a href="{{ path('signin') }}" style="margin-left: 10px;">Back to login</a>
        </div>
        <div class="col-sm-8 col-sm-offset-2" style="margin-top: 20px;">
            <hr/>
            If you don't get an email within a few minutes, make sure to check your spam or junk folder.
        </div>
        {{ form_end(form) }} {# display close tag of the form #}

    {% endblock %}
