{% extends "layout.html.twig" %}

{% block title %}Forgot your password?{% endblock %}

{% block content %}
    <div id="forgotPasswordMain">
        {% if sent is defined %}
        <div class="h2Text">
            <h2>{{  sent }}</h2>
        </div>
        <script>
            $(function () {
                var delay = 5000;
                setTimeout(
                    function(){
                        window.location.href = "{{ url('homepage') }}";
                    }, delay
                );
            });
        </script>
        {% else %}
        {{ form_start(form) }}
        <div class="h2Text">
            <h2>Forgot your password?</h2>
        </div>
        <div class="h4Text">
            <h4>Enter your email address below and you will receive your reset instructions</h4>
            <span>If you don't get an email within a few minutes, make sure to check your spam</span>
        </div>
        <div class="errorText">
            {{ form_errors(form.email) }}
        </div>
        <div class="inputBox buttonBox">
            {{ form_label(form.email) }} {# display form email label #}
            {{ form_widget(form.email) }}
            <a href="{{ path('signin') }}" style="margin-left: 10px;">Back to login</a>
            {{ form_rest(form) }} {# display form email label #}
        </div>
        {{ form_end(form) }}
    </div>
    {% endif %}
    <script>
        $("#forget_form_submit").html("<i class=\"fas fa-paper-plane\"></i>");
    </script>

{% endblock %}
