<!--HEAD-->
{{ include('head.html') }}

<!--HEADER-->
<header>
    <nav>
        <ul id="headerMenuList">
            {% if user is not null %}
                <li><a id="headerMenuUsername" href="profile">{{user.username}}</a></li>
            {% else %}
            {% endif %}
            <li><a id="headerMenuUnlogged" href="{{ path('homepage') }}">Home</a></li>
            {% if user is not null %}
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li><a id="headerMenuLogout" href="logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>
            {% else %}
            {% endif %}
        </ul>
    </nav>
</header>

{#RESPONSIVE HEADER#}
{{ include('headerResponsive.html.twig') }}

<main>
    {% block content %}
    {% endblock %}
</main>

<!--FOOTER-->
{{ include('footer.html') }}

</body>
</html>
