<!--HEAD-->
{{ include('head.html') }}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ asset('css/style.min.css') }}" rel="stylesheet" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>{% block title '' %} - Share2U</title>
</head>
<body>

<!--HEADER-->
<header>
    <nav>
        {% if user is not null %}
        {% else %}
        {% endif %}
        <a href="{{ path('homepage') }}"><h1 id="headerTitle" class="h1Text">Share<span class="h1TextLetter">2</span>U</h1></a>
        {% if user is not null %}
            <div id="headerSearch">
                <form action="search" method="GET" class="inputBox">
                <input id="headerSearchInput" type="text" name="searchString" placeholder="search here">
                    <div class="buttonBox">
                        <button id="headerSearchBtn" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        {% else %}
        {% endif %}

        <ul id="headerMenuList">
            {% if user is not null %}
                <li><a id="headerMenuUsername" href="{{ path('profile') }}">{{user.username}}</a></li>
            {% else %}
            {% endif %}
            <li><a id="headerHomeLink" href="{{ path('homepage') }}">Home</a></li>
            {% if user is not null %}
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li><a id="headerMenuLogout" href="{{ path('logout') }}">Logout <i class="fas fa-sign-out-alt"></i></a></li>
            {% else %}
            {% endif %}
        </ul>
    </nav>
</header>

{#RESPONSIVE HEADER#}
{{ include('headerResponsive.html.twig') }}

<main>
    {% block content %}
    {% endblock %}
</main>

<!--FOOTER-->
{{ include('footer.html') }}

</body>
</html>
