{% extends "layout.html.twig" %}

{% block title 'Change your password' %}

{% block content %}
    <div id="signupForm" class="editSignupForm">
        <div class="h2Text">
            <h2>Change your password</h2>
        </div>

        {{ form_start(editPasswordForm) }}

        <div id="editSignupfirstSection">
            <div class="inputBox userFormFirstname">
                {{ form_label(editPasswordForm.password) }}
                {{ form_widget(editPasswordForm.password) }}
            </div>
            {{ form_errors(editPasswordForm.password) }}
        </div>

        <div id="submitArea" class="buttonBox">
            {{ form_row(editPasswordForm.submit, { 'label': 'Submit' }) }}
        </div>
        {{ form_end(editPasswordForm) }}
    </div>


    <script>
        $("#edit_profile_form_submit").html("<i class=\"fas fa-sync-alt\"></i>");
    </script>

{% endblock %}