{% extends "layout.html.twig" %}

{% block title '' %}

{% block content %}
    {% if viewedUser is defined and viewedUser is not null %}
        You are viewing: {{ viewedUser.firstname }}
    {% else %}
    {% endif %}

    {% if viewedUser.username == user.username %}
    <form action="{{ path('editProfile') }}">
        <input type="submit" value="Edit">
    </form>
    {% endif %}
    Owned items:
    {% for item in items %}
        {{ item.name }}
    {% endfor %}
    Comments
    {% for comment in comments %}
        Comment: {{ comment.text }}
    {% endfor %}
    Rating: {{ rating }}
{% endblock %}
