{% extends "layout.html.twig" %}

{% block title %}Reset your password{% endblock %}

{% block content %}

    <div id="resetPasswordMain">
        {{ form_start(form) }}
        <div class="h2Text">
            <h2>Password reset</h2>
        </div>
        <div class="h4Text">
            <h4>Enter your new password</h4>
        </div>
        <div class="inputBox buttonBox">
            {{ form_label(form.password) }} {# display form email label #}
            {{ form_widget(form.password) }}
            {{ form_rest(form) }} {# display form email label #}
        </div>
        {{ form_end(form) }}
    </div>

    <script>
        $("#reset_form_submit").html("<i class=\"fas fa-sync-alt\"></i>");
    </script>

    {% endblock %}


