{% extends "layout.html.twig" %}

{% block title '' %}

{% block content %}
    <div id="searchResultMain">
        <div class="h2Text">
                    {% if searchString is not empty %}
                        <h2>Results for:<br/><span>"{{ searchString }}"</span> </h2>
                    {% else %}
                        <h2>All Results</h2>
                    {% endif %}
                    </div>
        <div class="searchResults">
            {% for item in items %}
                <div class="cardBox">
                    <div class="insideCardBox1">
                        <div class="pictureBox">
                            <img src="{{ item.cover }}" alt="card item picture">
                        </div>
                    </div>
                    <div class="insideCardBox2">
                        {#<div>{{ item.id }}</div>#}
                        <h4>{{ item.name }}</h4>
                        {#<div>{{ item.owner.id }}</div>#}
                        <div id="searchResultCardDescription">
                            {% if item.description is not null %}
                                <span>"{{ item.description }}"</span>
                            {% endif %}
                            </div>
                        <div class="bottomPictureCardBox"><span>Posted on </span>{{ item.insertedAt|date("m/d/Y") }}<span> by </span><a href="{{ path('user', { 'username': item.owner.username }) }}" id="userLinkCardBox">{{ item.owner.username }}</a></div>
                        <div class="buttonBox">
                            <a href="{{ path('item', { 'itemId': item.id }) }}"><button>More</button></a>
                            <a href="{{ path('requestItem', { 'itemId': item.id }) }}"><button>Request</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <style>
            #pagination ul{
                padding: 0;
                color: #fff;
                font-size: 2rem;
                text-align: center;
                background-color: rgba(0,0,0 , 0.3);
                border-radius: 2rem;
                border: 1px solid #fff;
                line-height: 2rem;
            }
            #pagination ul li{
                display: inline-block;
                margin: 0 1rem;
            }
            #pagination .navigationDisable{
                color: #bbb;
                font-size: 1.5rem;
                line-height: 2.5rem;
            }
            #pagination .navigation{
                color: #fff;
                font-size: 1.5rem;
            }
            #pagination li a{
                color: #fff;
                text-decoration: none;
            }
            #pagination li.activePage a{
                color: var(--ColorTitle);
                text-shadow: 1px 1px 0 rgba(0,0,0,0.3),-1px -1px 0 rgba(0,0,0,0.3),1px -1px 0 rgba(0,0,0,0.3),-1px 1px 0 rgba(0,0,0,0.3),2px 2px 5px var(--ColorTitleShadow2),-2px 2px 5px var(--ColorTitleShadow2),2px -2px 5px var(--ColorTitleShadow2),-2px -2px 5px var(--ColorTitleShadow2);
            }
        </style>

        {% if nbPage > 1 %}
        <div id="pagination">
            <ul>
                {% if page == 1 %}
                    <li class="navigationDisable"><i class="fas fa-angle-double-left"></i></li>
                    <li class="navigationDisable"><i class="fas fa-chevron-left"></i></li>
                {% else %}
                    <li><a class="navigation" href="{{  path('searchItem') }}?searchString={{ searchString }}&page=1"><i class="fas fa-angle-double-left"></i></a></li>
                    <li><a class="navigation" href="{{  path('searchItem') }}?searchString={{ searchString }}&page={{ page }}"><i class="fas fa-chevron-left"></i></a></li>
                {% endif %}

                {% if page > 5 %}
                    <li>...</li>
                {% endif %}

                {#<?php for ($i = $pagination["page"]-4; $i <= $pagination["page"]+4; $i++) : ?>#}
                {% for i in range(page-4, page+4) %}
                    {% if page == i %}
                        <li class="activePage"><a href="{{  path('searchItem') }}?searchString={{ searchString }}&page={{ page }}">{{ page }}</a></li>
                    {% elseif (i > 0) and (i <= nbPage) %}
                        <li class=" page"><a href="{{  path('searchItem') }}?searchString={{ searchString }}&page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page < (nbPage - 4) %}
                    <li>...</li>
                {% endif %}

                {% if page == nbPage %}
                <li class="navigationDisable"><i class="fas fa-chevron-right"></i></li>
                <li class="navigationDisable"><i class="fas fa-angle-double-right"></i></li>
                {% else %}
                <li><a class="navigation" href="{{  path('searchItem') }}?searchString={{ searchString }}&page={{ page + 1 }}"><i class="fas fa-chevron-right"></i></a></li>
                <li><a class="navigation" href="{{  path('searchItem') }}?searchString={{ searchString }}&page={{ nbPage}}"><i class="fas fa-angle-double-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}

    </div>
{% endblock %}