{% extends "layout.html.twig" %}

{% block title 'Sign up' %}

{% block content %}
    <div id="signupForm">
        <div class="h2Text">
            <h2>Register</h2>
        </div>
        {{ form_start(userForm) }}


        <div>
            {#{{ form_errors(form) }}#}
            <div class="inputBox userFormFirstname">
                {{ form_label(userForm.firstname) }}
                {{ form_widget(userForm.firstname) }}
            </div>
            <div class="inputBox userFormLastname">
                {{ form_label(userForm.lastname) }}
                {{ form_widget(userForm.lastname) }}
            </div>
            <div class="inputBox userFormEmail">
                {{ form_label(userForm.email) }}
                {{ form_widget(userForm.email) }}
            </div>
            <div class="inputBox userFormUsername">
                {{ form_label(userForm.username) }}
                {{ form_widget(userForm.username) }}
            </div>
            <div class="inputBox userFormGender">
                {{ form_label(userForm.gender) }}
                {{ form_widget(userForm.gender) }}
            </div>
            <div class="inputBox userFormPassword">
                {{ form_label(userForm.password) }}
                {{ form_widget(userForm.password) }}
            </div>
        </div>

        <div>
            <div class="inputBox userFormAddress1">
                {{ form_label(addressForm.address1) }}
                {{ form_widget(addressForm.address1) }}
            </div>
            <div class="inputBox userFormAddress2">
                {{ form_label(addressForm.address2) }}
                {{ form_widget(addressForm.address2) }}
            </div>
            <div class="inputBox userFormCity">
                {{ form_label(addressForm.city) }}
                {{ form_widget(addressForm.city) }}
            </div>
            <div class="inputBox userFormZipCode">
                {{ form_label(addressForm.zipCode) }}
                {{ form_widget(addressForm.zipCode) }}
            </div>
            <div class="inputBox userFormCountry">
                {{ form_label(addressForm.country) }}
                {{ form_widget(addressForm.country) }}
            </div>
            <div class="inputBox userFormDescription">
                {{ form_label(userForm.description) }}
                {{ form_widget(userForm.description) }}
            </div>
        </div>
        <div id="submitArea">
            {{ form_row(userForm.submit, { 'label': 'Submit' }) }}
        </div>

        {{ form_errors(userForm) }}

        {{ form_end(userForm) }}
    </div>

{% endblock %}